// Left-sidebar -styles //

.sidebar{
    width: 0px;
    position: fixed;
    z-index: 2;
    overflow: hidden;

    &.active{
        width: 247px;
    }

 .sidebar-wrapper{
    height: 100vh;
    overflow: hidden auto;

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ae9fc0;
        border-radius: 20px;
        border: transparent;
    }
 }


// links
    ul{
        list-style-type: none;
        li{
       
            .ti{
                color: #836E89 !important;
                font-weight: 500;
                font-size: 18px;
            }
            .ecommerce{
                color: #836E89;
            }

            &:hover{
                p{
                    color: #310E3A !important;
                }
                .ti{
                    color: #310E3A !important;
                }
                .ecommerce{
                    color: #310E3A ;
                }
            }

        }
        .dashboards{
            .ti{
                color: #310E3A !important;
                font-weight: 500;
                font-size: 18px;
            }
            &:hover{
                  svg{
                    color: #310E3A ;
                  }
            }
        }

    }
    // unlimited
    .unlimited{
   border-radius: 16px;
   background: linear-gradient(112deg, #763EBD 0%, #652BAD 100%);
    }
}

// Right-sidebar styles //

.right-sidebar{
    width: 0px;
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: 1;

    &.active{
        width: 298px;  
    }


  .sidebar-wrapper{
    height: 100vh;
    overflow: hidden auto;

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ae9fc0;
        border-radius: 20px;
        border: transparent;
    }
  }
}

// main dashboard style

.dashboard{
    &.left-in{
        margin-left: 247px;
    }

    &.right-in{
        margin-right: 298px;
    }

    @include media-breakpoint-down(lg){
        &.left-in{
            margin-left: 0px;
        }
        &.right-in{
            margin-right: 0px;
        }
    }
}

// header

header{
    .logo{
        display: none;

        @include media-breakpoint-down(sm){
            display: block;
        }
    }
}

// sales chart
.sales-chart-wrapper{
    margin-top: 5px;
    margin-bottom: 4px;
}

// location-world-map
// jvector map
.jvectormap-container{
    svg{
        width: 100%;
        height: 108px;
    }
    .jvectormap-zoomin{
        display: none;
    }
    .jvectormap-zoomout{
        display: none;
    }
}

// Recent Activty

.todays-actvity{
    .left{
        position: relative;
        &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #EFE8DF;
        left: 9px;
        top: 0;
        }
    }
}
.yesterday{
    letter-spacing: 1px;
}

.logo-heading{
    font-size: 22.5px;
}
// dropdown - modification
.dropend .dropdown-toggle::after { 
    content: none; 
}
.dropstart .dropdown-toggle::before { 
    content: none; 
}
.dropdown-toggle::after{
    content: none;
}

.notification-dropdown{
    .dropdown-menu{
        width: 360px;
    }
}

// body-backdrop

body{
    position: relative;
    &.backdrops{
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #0000005b;
            top: 0;
            z-index: 0;
        }
    }
   
}

// modal

.modal-body{
    height: 400px;
}